html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}


.benefits{
	display: flex;
	margin-bottom: 120px;
	max-width: 1614px;
	margin: 0 auto;
	padding: 0 15px;
	align-items: center;
  
	&-card {
	  display: flex;
	  height: 70px;
	  margin-top: 90px;
  
	  &__texts {
		  display: flex;
		  height: 60px;
		  margin: 0 auto;
		  margin-right: 46.6px;
		  flex: 0 0 calc((100% - 140px) / 4 );
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;

		 /* &:nth-child(1) {
			width: 327px;
		  }

		  &:nth-child(2) {
			width: 315px;
		  }

		  &:nth-child(3) {
			width: 410px;
		  }

		  &:last-child {
			width: 423px;
			margin-right: 0;
		  }  я для себя оставлю */

	  }

	  &__texts-number {
			font-family: 'Unbounded';
            font-style: normal;
            font-weight: 400;
            font-size: 37px;
            line-height: 60px;
            color: #0077FF;
	        margin-right: 20px;
	    }

	}
  }
  






